*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*POSITIONING*/
.options{
    display: grid;
    grid-template-columns: 70px 70px 70px;
    gap: 8px;
}

.option, .option-input{
    height: 30px;
    border-radius: 5px;
    background-color: gainsboro;
}

.option-input::placeholder, .option-input{
    text-align: center;
    color: black;
}

.body{
    display: flex;
}

#left, #right{
    border: 1px solid;
    width: 100%;
}

#bill-input, #price{
    background-image: url(./images/icon-dollar.svg);
    background-repeat: no-repeat;
    background-position: 5px;
}

#people{
    background-image: url(./images/icon-person.svg);
    background-repeat: no-repeat;
    background-position: 5px; 
}

#bill-input, #people, #price{
    padding: 2px 8px 2px 0;
    height: 30px;
    text-align: end;
}

input, button{
    border: none;
}

/*COLORS AND STYLING*/
.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(51, 60%, 39%); 
}

.warning{
    border: 1px solid red;
}