*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*POSITIONING*/
.options{
    display: grid;
    grid-template-columns: 70px 70px 70px;
    gap: 8px;
}

.option{
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: gainsboro;
}

.option::placeholder, .option{
    text-align: center;
    color: black;
}

.body{
    display: flex;
}

#left, #right{
    border: 1px solid;
    width: 100%;
}

.bill-input{
    background-image: url(./images/icon-dollar.svg);
    background-repeat: no-repeat;
    background-position: 5px 0;
}

/*COLORS AND STYLING*/
.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(51, 60%, 39%); 
}
